.SignIn {
  &__title {
    color: #ffffff;
  }

  .RestorePassword {
    display: inline-block;
    width: 50%;
    text-align: right;
   
    .Link {
      font-size: 14px;
      color: #8c8c8c;
      text-decoration: none;

      &:hover {
        color: #ffffff;
      }
    }
  }
}
