.SignIn {
    
  &__title {
    color: #ffffff;
  }

  .RestorePassword {
    display: inline-block;
    width: 50%;
    text-align: right;
   
    .Link {
      font-size: 14px;
      color: #8c8c8c;
      text-decoration: none;

      &:hover {
        color: #ffffff;
      }
    }
  }
}

.SignUpLink {
  margin-top: 16px;
  span {
    color: #737373;
    font-size: 16px;
  }

  .Link {
    color: #ffffff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
